@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We can put buttons here with the options here, or put it in the header at the right</p>
</div>
